@using Microsoft.AspNetCore.Mvc;
@using BillsPC_CleanArchitecture.Data.DTO;

@model List<Pokemon_DTO>
@{
    ViewData["Title"] = "Battle Simulator";
}

<form method="post" asp-action="Fight">
    <select name="id1">
        @foreach (var poke in Model)
        {
            <option value="@poke.PokemonID">@poke.Name</option>
        }
    </select>

    <select name="id2">
        @foreach (var poke in Model)
        {
            <option value="@poke.PokemonID">@poke.Name</option>
        }
    </select>

    <button type="submit" class="btn btn-primary">Fight!</button>
</form>

@if (ViewBag.ResultLog != null)
{
    <pre>@ViewBag.ResultLog</pre>
}
